.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Poppins, sans-serif;
  color: #1c1b1a;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 54px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
}

a {
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

img {
  display: inline-block;
  max-width: 100%;
}

.txt-rich-contact-hero-title {
  color: #1c1b1a;
  text-align: left;
}

.txt-rich-contact-hero-title p {
  font-size: 24px;
  line-height: 32px;
}

.txt-rich-contact-hero-title.max-width-500 {
  max-width: 500px;
}

.txt-rich-contact-hero-title img {
  width: 120px;
  margin-bottom: 10px;
}

.container-default {
  display: block;
  max-width: 1222px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.container-default.campaign {
  max-width: 1400px;
  padding-right: 0px;
  padding-left: 0px;
}

.hero-contact-form-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-right: 60px;
  margin-left: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.html-embed-video {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
}

.html-embed-video.blur-more {
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.html-embed-wrapper {
  position: relative;
  z-index: -1;
  margin: -15% -20% 0%;
  padding-top: 1000px;
}

.hero-video-wrap {
  z-index: -1;
  overflow: hidden;
  height: 730px;
}

.hero-video-wrap.snowboard {
  background-image: -webkit-gradient(linear, left top, right top, from(#eee), color-stop(50%, hsla(0, 0%, 91.3%, 0)));
  background-image: linear-gradient(90deg, #eee, hsla(0, 0%, 91.3%, 0) 50%);
}

.hero-video-wrap.running {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(9%, #eee), color-stop(53%, hsla(0, 0%, 91.3%, 0)));
  background-image: linear-gradient(90deg, #eee 9%, hsla(0, 0%, 91.3%, 0) 53%);
}

.section {
  display: block;
  overflow: visible;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.section.contact {
  padding-top: 24px;
  padding-bottom: 0px;
  background-color: transparent;
}

.section.hero {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 4px solid #1c1b1a;
}

.section.dark {
  background-color: #1c1b1a;
}

.hero-title-wrap {
  position: absolute;
  z-index: 8888;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 100px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.hidden {
  display: none;
}

.div-block {
  display: -ms-grid;
  display: grid;
  margin-top: 4px;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.lightbox-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  height: 740px;
  background-color: #fff;
}

.filter-grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.filter-grayscale:hover {
  -webkit-filter: none;
  filter: none;
}

.div-block-2 {
  overflow: hidden;
  height: 500px;
}

.bg-video-hero {
  left: 0px;
  height: 800px;
  margin-top: -30px;
}

.slide-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  padding-left: 95px;
  font-size: 10px;
  cursor: pointer;
}

.hero-action-wrap {
  position: absolute;
  top: -10px;
  right: 40px;
  z-index: 999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: rgba(28, 27, 26, 0.9);
  color: #fff;
}

.action-disclaimer {
  margin-bottom: 20px;
  font-size: 10px;
  line-height: 100%;
  text-align: left;
}

.line-thin {
  width: 100%;
  height: 1px;
}

.line-thin.white {
  background-color: #fff;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-left-20 {
  margin-left: 20px;
}

.action-phone {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
}

.button-primary {
  border-style: solid;
  border-width: 1px;
  border-color: #1c1b1a;
  border-radius: 0px;
  background-color: #1c1b1a;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.button-primary.dark {
  border-color: #fff;
  background-color: transparent;
}

.button-primary.dark.mobile {
  display: none;
}

.contact-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid grey;
}

.margin-right-10 {
  margin-right: 10px;
}

.hero-logo {
  width: 200px;
}

.hero-icon {
  width: 200px;
}

.grid-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.bg-video-ski {
  left: 0px;
  height: 500px;
  margin-top: -30px;
  border-radius: 30px;
}

.ski-description {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ski-logo {
  width: 400px;
  margin-top: -80px;
}

.ski-title {
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
}

.ski-list {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.list-item {
  margin-bottom: 10px;
}

.ski-list-grid {
  padding-bottom: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  -ms-grid-columns: 24px 1fr;
  grid-template-columns: 24px 1fr;
  border-bottom: 1px solid #fff;
  opacity: 0.5;
}

.badge {
  width: 24px;
  height: 24px;
}

.footer-languages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-media-grid {
  width: 100%;
  max-width: 223px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.card-feature-read-more-arrow {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
}

.card-feature-read-more-arrow.footer-arrow {
  font-size: 9px;
  font-weight: 400;
}

.footer-read-more-text {
  margin-top: 1px;
  margin-bottom: 0px;
  color: #888;
  font-size: 14px;
  line-height: 1.133em;
}

.footer-read-more-text.hover-push-right {
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
}

.footer-read-more-text.hover-push-right:hover {
  -webkit-transform: translate(10px, 0px);
  -ms-transform: translate(10px, 0px);
  transform: translate(10px, 0px);
  color: #1969ff;
}

.paragraph-small {
  font-size: 15px;
  line-height: 1.733em;
}

.paragraph-small.small-print {
  font-size: 14px;
}

.footer-nav-box {
  margin-right: 10px;
}

.divider {
  width: 100%;
  height: 1px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-bottom: 1px dashed #d8dae3;
}

.divider.footer-divider {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px none #b8bac3;
  background-color: transparent;
}

.footer-nav-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.footer-nav-link-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 18px;
  margin-bottom: 18px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.067em;
}

.title {
  font-weight: 600;
}

.title.footer-nav-title {
  margin-bottom: 20px;
  color: #888;
  font-size: 16px;
  line-height: 1.118em;
}

.footer-nav-links {
  margin-right: 10px;
  margin-bottom: 0px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(5, 21, 51, 0.05);
  -o-object-fit: fill;
  object-fit: fill;
}

.footer-content-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
}

.footer-content {
  display: -ms-grid;
  display: grid;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-nav-link {
  -webkit-transition: opacity 350ms ease, color 300ms ease, -webkit-transform 200ms ease;
  transition: opacity 350ms ease, color 300ms ease, -webkit-transform 200ms ease;
  transition: opacity 350ms ease, transform 200ms ease, color 300ms ease;
  transition: opacity 350ms ease, transform 200ms ease, color 300ms ease, -webkit-transform 200ms ease;
  color: grey;
  font-size: 14px;
  line-height: 1.067em;
  letter-spacing: 0em;
  text-decoration: none;
  white-space: nowrap;
}

.footer-nav-link:hover {
  opacity: 1;
  color: #1969ff;
}

.footer-nav-link.w--current {
  opacity: 0.6;
}

.footer-nav-link.w--current:hover {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.footer-nav-link.languages {
  margin-right: 10px;
}

.footer-social-media-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: color 350ms ease, -webkit-transform 200ms ease;
  transition: color 350ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, color 350ms ease;
  transition: transform 200ms ease, color 350ms ease, -webkit-transform 200ms ease;
  color: #b8bac3;
  font-size: 18px;
  text-decoration: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.footer-social-media-link:hover {
  -webkit-transform: translate3d(0px, -3px, 0.1px);
  transform: translate3d(0px, -3px, 0.1px);
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.footer-logo {
  width: 160px;
}

.footer-contact {
  z-index: 999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: transparent;
  color: grey;
  text-align: right;
}

.footer-map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 140px;
  max-width: 600px;
  margin-top: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom-right-radius: 30px;
}

.image {
  margin-top: -40px;
  margin-bottom: -40px;
}

@media screen and (min-width: 1920px) {
  .paragraph-small {
    font-size: 16px;
  }

  .paragraph-small.small-print {
    font-size: 16px;
  }

  .footer {
    padding-top: 100px;
  }
}

@media screen and (max-width: 991px) {
  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .txt-rich-contact-hero-title p {
    font-size: 20px;
    line-height: 28px;
  }

  .txt-rich-contact-hero-title h1 {
    font-size: 42px;
    line-height: 48px;
  }

  .container-default {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .hero-contact-form-wrapper {
    margin-top: -482px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .html-embed-wrapper {
    margin-top: -6%;
    margin-right: -83%;
    margin-left: -42%;
    padding-top: 30%;
    padding-bottom: 747px;
  }

  .hero-video-wrap {
    height: 620px;
  }

  .hero-video-wrap.snowboard {
    height: 640px;
    background-image: -webkit-gradient(linear, left top, right top, from(#eee), to(hsla(0, 0%, 91.3%, 0)));
    background-image: linear-gradient(90deg, #eee, hsla(0, 0%, 91.3%, 0));
  }

  .hero-video-wrap.running {
    height: 740px;
  }

  .section.contact {
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .section.hero {
    padding-top: 30px;
    padding-bottom: 0px;
  }

  .hero-title-wrap {
    padding: 40px;
  }

  .div-block-2 {
    height: 360px;
  }

  .bg-video-hero {
    height: 700px;
    margin-top: -30px;
  }

  .slide-nav {
    margin-bottom: 130px;
    padding-left: 35px;
  }

  .hero-action-wrap {
    top: -10px;
    width: 260px;
    padding: 20px;
  }

  .action-phone {
    text-align: left;
  }

  .bg-video-ski {
    height: 600px;
    margin-top: -30px;
  }

  .ski-description {
    font-size: 20px;
  }

  .ski-list {
    font-size: 16px;
    line-height: 20px;
  }

  .ski-list-grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: 20px 1fr;
    grid-template-columns: 20px 1fr;
  }

  .badge {
    width: 20px;
  }

  .footer-languages {
    margin-bottom: 15px;
  }

  .footer-social-media-grid {
    margin-bottom: 15px;
  }

  .paragraph-small.small-print {
    margin-bottom: 15px;
  }

  .footer-nav-box {
    margin-right: 20px;
  }

  .divider.footer-divider {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .title.footer-nav-title {
    margin-bottom: 10px;
  }

  .footer-nav-links {
    margin-top: 10px;
    margin-right: 20px;
    padding-left: 0px;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 90px;
  }

  .footer-content-bottom {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .footer-contact {
    top: -10px;
    width: 260px;
    padding: 20px 20px 20px 0px;
  }

  .footer-map {
    height: 200px;
    max-width: 400px;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 16px;
    line-height: 22px;
  }

  p {
    font-size: 12px;
  }

  .hero-contact-form-wrapper {
    margin-top: -404px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .html-embed-video {
    background-color: #9e9e9e;
  }

  .html-embed-wrapper {
    margin: -90% -140% -20% -60%;
    padding-top: 176%;
  }

  .hero-video-wrap {
    height: 640px;
  }

  .hero-video-wrap.snowboard {
    height: 650px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 93.3%, 0.25)), to(hsla(0, 0%, 93.3%, 0.25)));
    background-image: linear-gradient(180deg, hsla(0, 0%, 93.3%, 0.25), hsla(0, 0%, 93.3%, 0.25));
  }

  .hero-video-wrap.running {
    height: 800px;
  }

  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section.contact {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section.hero {
    padding-top: 30px;
    padding-bottom: 0px;
  }

  .div-block {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .div-block-2 {
    height: 240px;
  }

  .bg-video-hero {
    height: 740px;
  }

  .hero-action-wrap {
    top: -10px;
    width: 255px;
  }

  .action-disclaimer {
    margin-bottom: 15px;
  }

  .action-phone {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 20px;
  }

  .button-primary.dark {
    padding-right: 10px;
    padding-left: 10px;
  }

  .contact-wrap {
    display: none;
  }

  .hero-logo {
    width: 160px;
  }

  .hero-icon {
    width: 160px;
  }

  .bg-video-ski {
    height: 500px;
  }

  .ski-title {
    font-size: 42px;
  }

  .ski-list {
    font-size: 14px;
    line-height: 18px;
  }

  .ski-list-grid {
    grid-column-gap: 10px;
  }

  .paragraph-small.small-print {
    font-size: 14px;
  }

  .footer-nav-box {
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .divider.footer-divider {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer-nav-link-item {
    margin-bottom: 15px;
  }

  .title.footer-nav-title {
    margin-bottom: 20px;
  }

  .footer-nav-links {
    margin-top: 0px;
    margin-right: 0px;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-content-bottom {
    padding-top: 24px;
  }

  .footer-content {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-logo {
    width: 160px;
  }

  .footer-contact {
    top: -10px;
    width: 255px;
  }
}

@media screen and (max-width: 479px) {
  h3 {
    font-size: 20px;
    line-height: 24px;
  }

  p {
    font-size: 14px;
  }

  .txt-rich-contact-hero-title p {
    font-size: 18px;
  }

  .txt-rich-contact-hero-title h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .hero-contact-form-wrapper {
    margin-top: -322px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .html-embed-wrapper {
    margin-right: -196%;
    margin-left: -156%;
  }

  .hero-video-wrap.snowboard {
    height: 740px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 93.3%, 0.5)), to(hsla(0, 0%, 93.3%, 0.5)));
    background-image: linear-gradient(180deg, hsla(0, 0%, 93.3%, 0.5), hsla(0, 0%, 93.3%, 0.5));
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section.contact {
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .hero-title-wrap {
    padding-top: 80px;
    padding-right: 20px;
    padding-left: 30px;
  }

  .div-block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .div-block-2 {
    height: 500px;
  }

  .clinic-photo {
    height: 500px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 25% 50%;
    object-position: 25% 50%;
  }

  .bg-video-hero {
    height: 800px;
  }

  .hero-action-wrap {
    left: auto;
    top: -10px;
    right: -10px;
    width: auto;
    max-width: 140px;
    margin-right: 20px;
  }

  .action-phone {
    margin-bottom: 5px;
    font-size: 12px;
  }

  .button-primary.dark {
    display: none;
  }

  .button-primary.dark.mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
  }

  .contact-wrap {
    display: none;
  }

  .hero-logo {
    width: 120px;
  }

  .hero-icon {
    width: 120px;
  }

  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .bg-video-ski {
    height: 400px;
  }

  .ski-title {
    font-size: 34px;
  }

  .footer-languages {
    margin-bottom: 0px;
  }

  .footer-social-media-grid {
    max-width: 100%;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .card-feature-read-more-arrow.footer-arrow {
    font-size: 8px;
  }

  .paragraph-small {
    font-size: 12px;
    line-height: 1.6em;
  }

  .paragraph-small.small-print {
    font-size: 12px;
    text-align: center;
  }

  .footer-nav-box {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .divider {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .footer-nav-content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .title.footer-nav-title {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .footer-nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-content-bottom {
    padding-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer-content {
    margin-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .footer-logo {
    width: 120px;
  }

  .footer-contact {
    left: auto;
    top: -10px;
    right: -10px;
    width: auto;
    max-width: 140px;
    margin-right: 20px;
  }
}

#w-node-_7b7c78ac-b006-58a7-990a-25dae04ac77d-9cc55436 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1059913e-b9cd-d448-4bba-6d24f4755ec8-9cc55436 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f459831b-98d9-9221-436c-60f6090ed707-9cc55436 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3d6f9ca2-e2e0-a5e5-6fff-e3a2b221edff-9cc55436 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5d8a571-1d1e-f23c-1d2a-771cdaec8e97-9cc55436 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0039b0cd-58f9-c4fb-15e0-09d088c8de8c-9cc55436 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3db77132-127a-1e2b-f75d-a12ee52dcc4d-9cc55436 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f38d5814-fa9c-45d1-4c56-417a3d82ef1a-9cc55436 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a53e4bf0-6d5d-e20e-de68-e47224b51300-9cc55436 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b19c16eb-7f25-9810-c04b-ba037c8ca8c0-9cc55436 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8d1a7d84-68ab-451f-ea15-58a122b7a5b8-9cc55436 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cbce7462-68ba-1005-58ad-128e8a6cc63b-9cc55436 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

